<!-- header strony -->
<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Spis książek</a>
    <ul>
      <li><a href="/authors">Autorzy</a></li>
      <li><a href="/authors/new">Dodaj autora</a></li>
      <li><a href="/books">Książki</a></li>
      <li><a href="/books/new">Dodaj książkę</a></li>
    </ul>
  </nav>
</header>